.progressMobile {
    display: none;
    width: 80%;
    margin: 0;
}

@media (max-width: 850px) {
    .progressMobile {
        display: block;
    }
}

.progressMobile h3 {
    margin: 0;
    margin-bottom: 10px;
}

.progressBar {
    width: 100%;
    height: 20px;
    background-color: var(--progress-bar);
    border-radius: 10px;
    margin: 0;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    background-color: var(--progress); 
    border-radius: 10px;
    transition: width 0.5s ease; 
}

.pMobileLight h3 {
    color: var(--letters-panel);
}

.pMobileDark h3 {
    color: var(--letters-panel-dark);
}