.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.container h2 {
    margin: 5px 0 5px 0;
}

.emptyLight h2 {
    color: var(--letters-panel);
}

.emptyDark h2 {
    color: var(--letters-panel-dark);
}

.container img {
    width: 100px;
    height: 100px;
    margin: 5px 0 5px 0;
}