.itemContainer{
    width: 100%;
}

.itemContainer li {
    background-color: #ffffff;
    padding: 0.3em 0.6em;
    margin-top: 0.6em;
    display: inline-flex;
    cursor: pointer;
    width: 80%;
}

.itemContainer .icons {
    color: #000;
    padding: 0.4em 0.3em 0.7em;
    background-color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
}

.itemContainer li:hover {
    background-color: #f5f5f5;
}

.itemContainer  p {
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    font-weight: 600;
}

.itemContainer .check {
    margin-right: 1em;
    margin-left: 0.5em;
}

.itemContainer .editBtn:hover {
    color: rgb(28, 145, 53);
    cursor: pointer;
}

.itemContainer .deleteBtn:hover {
    color: red;
    cursor: pointer;
}

.yes {
    text-decoration: line-through;
    opacity: 0.6;
    font-weight: 500;
}

.yes .check {
    color: rgb(28, 145, 53);
}

.no {
    text-decoration: none;
}

.no .check {
    color: gray;
}

@media (max-width: 850px) {
    .itemContainer li {
        padding: 0 0 0 1em;
    }

    .itemContainer .icons {
        padding: 0.2em 0.1em 0.5em;
    }
}

.formEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    background-color: rgb(215, 224, 233);
    padding: 20px;
    border-radius: 20px;
    border: 10px solid rgb(118, 200, 206);
}

.formEdit label {
    font-weight: bold;
    color: black;
    margin: 10px 0;
}

.formEdit input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    margin-bottom: 20px;
}

.formEdit input:focus {
    border: 1px solid #0b87ff;
}

.formEdit button {
    margin: 0 15px;
    outline: none;
    padding: 5px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editBtnModal {
    background-color: #0b87ff;
}

.closeBtnModal {
    background-color: #f44336;
}

