.itemContainer{
    width: 100%;
    animation: fadeIn 0.8s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.itemContainer li {
    padding: 0.3em 0.6em;
    margin-top: 0.6em;
    display: inline-flex;
    cursor: pointer;
    width: 80%;
}

.itemLight li {
    background-color: var(--item-background);
    color: var(--letters-panel);
}

.itemDark li {
    background-color: var(--item-background-dark);
    color: var(--letters-panel-dark);
}

.itemContainer .icons {
    padding: 0.4em 0.3em 0.67em;
    font-size: 1.5em;
    font-weight: 500;
}

.itemLight .icons {
    background-color: var(--item-background);
    color: var(--icon-color);
}

.itemDark .icons {
    background-color: var(--item-background-dark);
    color: var(--icon-color-dark);
}

.itemLight li:hover {
    background-color: var(--item-hover);
}

.itemDark li:hover {
    background-color: var(--item-hover-dark);
}

.itemContainer  p {
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    font-weight: 600;
}

.itemContainer .check {
    margin-right: 1em;
    margin-left: 0.5em;
}

.itemContainer .editBtn:hover {
    color: var(--icon-edit);
    cursor: pointer;
}

.itemContainer .deleteBtn:hover {
    color: var(--icon-delete);
    cursor: pointer;
}

.yes {
    text-decoration: line-through;
    opacity: 0.6;
    font-weight: 500;
}

.no {
    text-decoration: none;
}

.no .check {
    color: var(--input-checked);
}

@media (max-width: 850px) {
    .itemContainer li {
        padding: 0 0 0 1em;
    }

    .itemContainer .icons {
        padding: 0.2em 0.1em 0.46em;
    }
}

.formEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--modal-background);
    border: 10px solid var(--modal-border);
}

.formEdit label {
    font-weight: bold;
    color: var(--letters-panel-dark);
    margin: 10px 0;
}

.formEdit input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--input-border);
    outline: none;
    margin-bottom: 20px;
}

.formEdit input:focus {
    border: 1px solid var(--input-border-focus);
}

.formEdit button {
    margin: 0 15px;
    outline: none;
    padding: 5px 20px;
    color: var(--button-text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editBtnModal {
    background-color: var(--button-save);
}

.closeBtnModal {
    background-color: var(--button-cancel);
}