.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
}

.left ul, .right ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px;
}

.left ul li, .right ul li {
    margin: 0 20px;
}

.left {
    display: flex;
}

.left .icon {
    color: white;
}

.right {
    display: flex;
}

.icon:hover {
    cursor: pointer;
    color: rgb(209, 239, 247);
}

.navbar li:hover {
    cursor: pointer;
    color: rgb(209, 239, 247);
}
