.containerSearch, .search {
    width: 100%;
}

.search input{
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    border: 1px solid #d1d3d4;
    padding: 0.8em 0.5em;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    width: 70%;
}

.searchLight input{
    background-color: var(--input-background);
    color: var(--input-letters);
}

.searchDark input {
    background-color: var(--input-background-dark);
    color: var(--input-letters-dark);
}

.search input:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.search button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1em;
    background-color: var(--search-button);
    color: var(--button-text);
    outline: none;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    padding: 0.8em 1em;
    margin-left: 10px;
    width: 22%;
}

@media (max-width: 850px) {
    .search input {
        margin: 5px;
        padding: 0.4em 0em;
        width: 50%;
    }
    
    .search button {
        margin: 5px;
        padding: 0.4em 0.6em;
    }
}


.filter {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 0px;
}

.filter button {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.searchLight button {
    background-color: var(--search-button); 
}

.searchDark button {
    background-color: var(--search-button-hover);
}

.searchLight button:hover, .searchLight .selected {
    background-color: var(--search-button-dark); 
}

.searchDark button:hover, .searchDark .selected {
    background-color: var(--search-button-hover-dark);
}